$tamañotodo:200px;
$colorglobo: brown;
$colorcerdo: #FCE6DE;
$colorocico: #F4C2C2;
$colornariz: #FF55A3;
$colorborde: black;
$colorcesto: linear-gradient(180deg, #eeb61d, rgb(65, 42, 1));
$colorglobo: linear-gradient(180deg, #f7f44e, rgb(223, 74, 37));
$grosorborde:2px;


.contenedor{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;    
    animation: 15s march linear infinite;
}
.contenido{
    position: relative;
    width: $tamañotodo;
    height: 4 * $tamañotodo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: viaje 1.2s infinite; 
}
 .globoaereo{
     position: relative;
     display: flex; 
     flex-direction: column;
     align-items: center;     
     z-index: 90;
     width: $tamañotodo;
     height: 2 * $tamañotodo;
 }
 .globo{
     position: relative;
     width: $tamañotodo;
     height: $tamañotodo;
     border: solid black $grosorborde;
     border-radius: 50%;
     background: $colorglobo;
     z-index: 80;
 }
 .soga{
     position: absolute;
     top: 43%;
     height: $tamañotodo / 1.3;
     width: $tamañotodo / $tamañotodo;
     border: solid #000 $grosorborde;
     background: $colorcesto;
     &__d{        
        left: 25%;
        transform:  rotate(-15deg);
     }
     &__i{
        right:  25%;
        transform:  rotate(15deg);
     }
 }
 .cesto{
     position: absolute;
     bottom: 0;
     height: $tamañotodo/2.5;
     width: $tamañotodo/1.4;
     border: solid #000 $grosorborde;
     border-radius: 20% 20% 25% 25%/  65% 65% 30% 30%;
     background: $colorcesto;
     z-index: 201;
 }

 .cerdito{    
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    height: $tamañotodo / 2.3;
    width: $tamañotodo / 2;
    top: 55.5%;
    z-index: 100;
 }
 .cara{    
    position: relative;
    height: $tamañotodo / 3;
    width: $tamañotodo / 2.2;
    border: solid $colorborde $grosorborde;
    border-radius: 50%;
    transform: rotate(-28deg);
    background: $colorcerdo;
    z-index: 101;
 }
 .orejas{
    position: absolute;    
    border: solid  $grosorborde;
    border-radius: 80% 0;    
    background: $colorcerdo;
     &__d{
        height: $tamañotodo/10;
        width: $tamañotodo/10;
        border-color:#000 transparent #000 #000; 
        transform: rotate(10deg);
     }
     &__i{
         right: 0%;
        height: $tamañotodo/10;
        width: $tamañotodo/10;
        transform: rotate(80deg);
        border-color:#000 #000 transparent #000 ;
     }
 }
 .ojos{
     position: absolute;
     width: 10%;
     height: 5%;
     top: 40%;
     border:  solid  $grosorborde;
     border-color:#000 transparent transparent transparent;     
     border-radius: 50%/100% 100% 0 0;
     &__d{
         right: 12%;
     }
     &__i{
         left: 12%;
     }
 }
 .ocico{
    position: absolute;
    height: $tamañotodo/9;
    width: $tamañotodo/6;
    border: solid $colorborde $grosorborde;
    background: $colorocico;
    left: 29%;
    top: 38%;
    border-radius: 50%;
 }
 .nariz{
    position: absolute;
    height: $tamañotodo/20;
    width: $tamañotodo/30;    
    background: $colornariz;
    border-radius: 50%;
    top: 30%;
     &__d{        
        right: 14%;
     }
     &__i{
        left:  14%;
     }
 }

 .cuerpo{
     position: relative;
     display: flex;
     height: 15%;
     width: 100%;
 }
 .brazo-d{
     position: absolute;
     bottom: 6%;
     left: 28%;
     height: $tamañotodo/10;
     width: 30%;
     border: solid  $grosorborde  $colorborde;
     border-radius: 0% 80%;   
     transform: rotate(-33deg);     
     background: $colorcerdo;
     z-index: 305;
 }
 .brazo-i{
     position: absolute;
     bottom: 120%;
     right:  0%;
     height: 100%;
     width: 30%;
     border: solid black $grosorborde;
     background: $colorcerdo;   
     border-radius: 0 0 100% 100%;      
     transform: rotate(-44deg); 
}
.dedos{
    position: absolute;
    height: $tamañotodo/30;
    width: $tamañotodo/40;
    bottom: 270%;
    right: 0%;
    border: solid black $grosorborde;
    background: #000;
    transform: rotate(-50deg);
    clip-path: polygon(100% 11%, 40% 50%, 100% 89%, 0 100%, 0 0);
}


// Animacion
@keyframes viaje {
    0% {
      top: 30px;
    }
    25% {
      top: 0;
      transform: rotate(-5deg);
    }
    50% {
      top: 30px;
    }
    75% {
      top: 0;
      transform: rotate(5deg);
    }
    100% {
      top: 30px;
    }
  }

  @keyframes march {
    0% {
      left: -10%
    }
    50% {
      left: 25%;
    }
    50% {
      left: 50%;
    }
    100% {
      left: 100%;
    }
  }