.contenedor {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: 15s march linear infinite;
          animation: 15s march linear infinite;
}

.contenido {
  position: relative;
  width: 200px;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: viaje 1.2s infinite;
          animation: viaje 1.2s infinite;
}

.globoaereo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 90;
  width: 200px;
  height: 400px;
}

.globo {
  position: relative;
  width: 200px;
  height: 200px;
  border: solid black 2px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f44e), to(#df4a25));
  background: linear-gradient(180deg, #f7f44e, #df4a25);
  z-index: 80;
}

.soga {
  position: absolute;
  top: 43%;
  height: 153.84615px;
  width: 1;
  border: solid #000 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeb61d), to(#412a01));
  background: linear-gradient(180deg, #eeb61d, #412a01);
}

.soga__d {
  left: 25%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.soga__i {
  right: 25%;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.cesto {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 142.85714px;
  border: solid #000 2px;
  border-radius: 20% 20% 25% 25%/  65% 65% 30% 30%;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeb61d), to(#412a01));
  background: linear-gradient(180deg, #eeb61d, #412a01);
  z-index: 201;
}

.cerdito {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 86.95652px;
  width: 100px;
  top: 55.5%;
  z-index: 100;
}

.cara {
  position: relative;
  height: 66.66667px;
  width: 90.90909px;
  border: solid black 2px;
  border-radius: 50%;
  -webkit-transform: rotate(-28deg);
          transform: rotate(-28deg);
  background: #FCE6DE;
  z-index: 101;
}

.orejas {
  position: absolute;
  border: solid 2px;
  border-radius: 80% 0;
  background: #FCE6DE;
}

.orejas__d {
  height: 20px;
  width: 20px;
  border-color: #000 transparent #000 #000;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.orejas__i {
  right: 0%;
  height: 20px;
  width: 20px;
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
  border-color: #000 #000 transparent #000;
}

.ojos {
  position: absolute;
  width: 10%;
  height: 5%;
  top: 40%;
  border: solid 2px;
  border-color: #000 transparent transparent transparent;
  border-radius: 50%/100% 100% 0 0;
}

.ojos__d {
  right: 12%;
}

.ojos__i {
  left: 12%;
}

.ocico {
  position: absolute;
  height: 22.22222px;
  width: 33.33333px;
  border: solid black 2px;
  background: #F4C2C2;
  left: 29%;
  top: 38%;
  border-radius: 50%;
}

.nariz {
  position: absolute;
  height: 10px;
  width: 6.66667px;
  background: #FF55A3;
  border-radius: 50%;
  top: 30%;
}

.nariz__d {
  right: 14%;
}

.nariz__i {
  left: 14%;
}

.cuerpo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15%;
  width: 100%;
}

.brazo-d {
  position: absolute;
  bottom: 6%;
  left: 28%;
  height: 20px;
  width: 30%;
  border: solid 2px black;
  border-radius: 0% 80%;
  -webkit-transform: rotate(-33deg);
          transform: rotate(-33deg);
  background: #FCE6DE;
  z-index: 305;
}

.brazo-i {
  position: absolute;
  bottom: 120%;
  right: 0%;
  height: 100%;
  width: 30%;
  border: solid black 2px;
  background: #FCE6DE;
  border-radius: 0 0 100% 100%;
  -webkit-transform: rotate(-44deg);
          transform: rotate(-44deg);
}

.dedos {
  position: absolute;
  height: 6.66667px;
  width: 5px;
  bottom: 270%;
  right: 0%;
  border: solid black 2px;
  background: #000;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  -webkit-clip-path: polygon(100% 11%, 40% 50%, 100% 89%, 0 100%, 0 0);
          clip-path: polygon(100% 11%, 40% 50%, 100% 89%, 0 100%, 0 0);
}

@-webkit-keyframes viaje {
  0% {
    top: 30px;
  }
  25% {
    top: 0;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    top: 30px;
  }
  75% {
    top: 0;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    top: 30px;
  }
}

@keyframes viaje {
  0% {
    top: 30px;
  }
  25% {
    top: 0;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    top: 30px;
  }
  75% {
    top: 0;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    top: 30px;
  }
}

@-webkit-keyframes march {
  0% {
    left: -10%;
  }
  50% {
    left: 25%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}

@keyframes march {
  0% {
    left: -10%;
  }
  50% {
    left: 25%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}
/*# sourceMappingURL=style.css.map */