$tamaño: 300px;
$color: blue;

.contenedor{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;   
}
.contenido{
    position: relative;
    width: $tamaño;
    height: $tamaño;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.rectangulo{
    position: relative;
    height: $tamaño;
    width: $tamaño / 4;
    border: solid;
    z-index: 110;
    background: orange;
    &__i{
        position: absolute;
        left: 0%;
    }
    &__d{
        position: absolute;
        right: 0%;
    }
}
.semicirculo{
    position: absolute;
    height: $tamaño / 8;
    width: $tamaño / 8;
    border: solid ;
    z-index: 120;
    background: white;    
    &__i{
        clip-path: circle(50% at 100% 50%);
        top: 7.5%;
        left: 47%;
        border-color:  transparent  ;
    } 
    &__d{ 
        clip-path: circle(50% at 0 50%);
        border-color: transparent;
        right: 46%;
        bottom: 7.5%; 
    } 
}
.diagonal{
    position: absolute;
    height: $tamaño;
    width: $tamaño / 2.15;
    clip-path: polygon(0 0, 100% 70%, 100% 100%, 0 30%);
    border: solid ;
    left: 26%;
    z-index: 101;
    background: $color;    
}
.circulos{
    position: absolute;
    height: $tamaño / 8;
    width: $tamaño / 8;
    border: solid ;
    z-index: 130;
    background: $color;    
    &__i{
        clip-path: circle(50% at 100% 50%);
        border-color:  transparent;
        left: 12.5%;
        top: 8.5%;
    }
    &__d{
        clip-path: circle(50% at 0 50%);
        border-color:  transparent;
        right: 12.5%;
        bottom: 6.5%;
    }
}
