$tamaño: 50px;
$color1: #0396FF;
$color2: #3677FF;
$color3: #000DFF;

.contenedor{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;   
}
.contenido{
    position: relative;
    width: $tamaño;
    height: $tamaño;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.rectangulo{
    position: relative;
    height: $tamaño;
    width: $tamaño / 4;    
    &__i{
        position: absolute;
        left: 0%;
        border-radius: 25% 0 25% 0;
        background-color: $color1;
        z-index: 110;
    }
    &__d{
        position: absolute;
        right: 0%;
        border-radius: 25% 0 25% 0;
        background-color: $color3;
        z-index: 140;
    }
}
.semicirculo{
    position: absolute;
    height: $tamaño / 4;
    width: $tamaño / 4;
    border: solid ;       
    clip-path: circle(50% at 100% 50%);    
    &__i{        
        top: 10%;
        left: 0%;
        border-color:  transparent  ;
        background: white;
        z-index: 120;
    } 
    &__d{ 
        border-color: transparent;
        right: 100%;
        bottom: 11.4%;
        background: $color3;
        z-index: 140; 
    } 
}

/* .cont_diagonal{
    position: relative;
    width: $tamaño/2;
    height: $tamaño;
} */
.diagonal{
    position: relative;
    height: $tamaño;
    width: $tamaño / 2;
    clip-path: polygon(0 0, 100% 60%, 100% 100%, 0 40%);
    z-index: 101;
    background: $color2; 
}
.circulos{
    position: absolute;
    height: $tamaño / 4;
    width: $tamaño / 4;
    border: solid ;    
    background: $color2;    
    clip-path: circle(50% at 100% 50%); 
    z-index: 130;   
    &__i{
        top: 10%;
        left: 0%;
        border-color:  transparent  ;
    }
    &__d{
        border-color: transparent;
        right: 25%;
        bottom: 11.4%; 
        background: white;
    }
}
