.contenedor {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenido {
  position: relative;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: girar 2s  infinite;
          animation: girar 2s  infinite;
}

.rectangulo {
  position: relative;
  height: 50px;
  width: 16.66667px;
  -webkit-animation: juntar 2s 1 linear;
          animation: juntar 2s 1 linear;
}

.rectangulo__i {
  position: absolute;
  left: 0%;
  background: linear-gradient(135deg, #FFF6B7 10%, #F6416C 100%);
  z-index: 110;
}

.rectangulo__d {
  position: absolute;
  right: 0%;
  background: linear-gradient(135deg, #92FFC0 10%, #002661 100%);
  z-index: 140;
  -webkit-animation: juntar 2s 3 linear;
          animation: juntar 2s 3 linear;
}

.semicirculo {
  position: absolute;
  height: 12.5px;
  width: 12.5px;
  border: solid;
  -webkit-clip-path: circle(50% at 100% 50%);
          clip-path: circle(50% at 100% 50%);
}

.semicirculo__i {
  top: 10%;
  right: 0%;
  border-color: transparent;
  background: white;
  z-index: 120;
}

.semicirculo__d {
  border-color: transparent;
  right: 100%;
  bottom: 11.4%;
  background: linear-gradient(135deg, #92FFC0 10%, #002661 100%);
  z-index: 140;
}

.cont_diagonal {
  position: relative;
  width: 16.66667px;
  height: 50px;
  -webkit-animation: juntar 2s 2 linear;
          animation: juntar 2s 2 linear;
}

.diagonal {
  position: relative;
  height: 50px;
  width: 16.66667px;
  -webkit-clip-path: polygon(0 0, 100% 40%, 100% 100%, 0 60%);
          clip-path: polygon(0 0, 100% 40%, 100% 100%, 0 60%);
  z-index: 101;
  background: linear-gradient(135deg, #90F7EC 10%, #32CCBC 100%);
}

.circulos {
  position: absolute;
  height: 12.5px;
  width: 12.5px;
  border: solid;
  background: linear-gradient(135deg, #90F7EC 10%, #32CCBC 100%);
  -webkit-clip-path: circle(50% at 100% 50%);
          clip-path: circle(50% at 100% 50%);
  z-index: 130;
}

.circulos__i {
  top: 10%;
  right: 100%;
  border-color: transparent;
}

.circulos__d {
  border-color: transparent;
  right: 0%;
  bottom: 11.4%;
  background: white;
}

@-webkit-keyframes juntar {
  50% {
    top: -100px;
  }
  70% {
    top: -50px;
  }
  90% {
    top: -20px;
  }
  100% {
    top: 0px;
  }
}

@keyframes juntar {
  50% {
    top: -100px;
  }
  70% {
    top: -50px;
  }
  90% {
    top: -20px;
  }
  100% {
    top: 0px;
  }
}

@-webkit-keyframes girar {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes girar {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */