$tamaño: 50px;
$color1: linear-gradient( 135deg, #FFF6B7 10%, #F6416C 100%);
$color2: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);
$color3: linear-gradient( 135deg, #92FFC0 10%, #002661 100%);
.contenedor{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;   
}
.contenido{
    position: relative;
    width: $tamaño;
    height: $tamaño;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    animation: girar 2s  infinite; 
}
.rectangulo{
    position: relative;
    height: $tamaño;
    width: $tamaño / 3;  
    animation: juntar 2s 1 linear;  
    &__i{
        position: absolute;
        left: 0%;
        //border-radius: 25% 0 25% 0;
        background: $color1;
        z-index: 110; 
    }
    &__d{
        position: absolute;
        right: 0%;
        //border-radius: 25% 0 25% 0;
        background: $color3;
        z-index: 140;
        animation: juntar 2s 3 linear;  
    }
}
.semicirculo{
    position: absolute;
    height: $tamaño / 4;
    width: $tamaño / 4;
    border: solid ;       
    clip-path: circle(50% at 100% 50%);    
    &__i{        
        top: 10%;
        right: 0%;
        border-color:  transparent  ;
        background: white;
        z-index: 120;
    } 
    &__d{ 
        border-color: transparent;
        right: 100%;
        bottom: 11.4%;
        background: $color3;
        z-index: 140; 
    } 
}

.cont_diagonal{
    position: relative;
    width: $tamaño/3;
    height: $tamaño;
    animation: juntar 2s 2 linear;
} 
.diagonal{
    position: relative;
    height: $tamaño;
    width: $tamaño / 3;
    clip-path: polygon(0 0, 100% 40%, 100% 100%, 0 60%);
    z-index: 101;
    background: $color2;
}
.circulos{
    position: absolute;
    height: $tamaño / 4;
    width: $tamaño / 4;
    border: solid ;    
    background: $color2;    
    clip-path: circle(50% at 100% 50%); 
    z-index: 130;   
    &__i{
        top: 10%;
        right:100%;
        border-color:  transparent  ;
    }
    &__d{
        border-color: transparent;
        right: 0%;
        bottom: 11.4%; 
        background: white;
    }
}

@keyframes juntar{
    50% {
       top: -100px;
    }
    70%{
        top: -50px;
    }
    90%{
        top: -20px;
    }
    100%{
        top: 0px;
    }
}
@keyframes girar{
    to {
        transform: rotate(360deg);
    }
}