.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pelota {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 80;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid green;
  background: green;
  -webkit-animation: rebota 1s alternate infinite ease-in;
          animation: rebota 1s alternate infinite ease-in;
}

.pentagono {
  position: relative;
  z-index: 60;
  border: solid 2px;
  height: 32px;
  width: 32px;
  -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
          clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  color: green;
  background-color: green;
}

.hexagono {
  color: green;
  background-color: greenyellow;
  position: absolute;
  bottom: 0%;
  border: solid 2px;
  height: 40px;
  width: 40px;
  -webkit-clip-path: polygon(28% 19%, 83% 19%, 98% 58%, 80% 95%, 28% 95%, 2% 58%);
          clip-path: polygon(28% 19%, 83% 19%, 98% 58%, 80% 95%, 28% 95%, 2% 58%);
}

.hexagono__1 {
  height: 50px;
  width: 50px;
  top: 0.5%;
  left: 3%;
  -webkit-transform: rotate(-38deg);
          transform: rotate(-38deg);
  -webkit-clip-path: polygon(28% 16%, 76% 16%, 100% 50%, 76% 78%, 30% 78%, 7% 58%);
          clip-path: polygon(28% 16%, 76% 16%, 100% 50%, 76% 78%, 30% 78%, 7% 58%);
}

.hexagono__2 {
  height: 50px;
  width: 50px;
  top: 0%;
  right: 4%;
  -webkit-transform: rotate(38deg);
          transform: rotate(38deg);
  -webkit-clip-path: polygon(28% 16%, 76% 16%, 95% 55%, 70% 78%, 28% 78%, 5% 48%);
          clip-path: polygon(28% 16%, 76% 16%, 95% 55%, 70% 78%, 28% 78%, 5% 48%);
}

.hexagono__3 {
  height: 40px;
  width: 40px;
  bottom: 16%;
  right: 1%;
  -webkit-transform: rotate(-74deg);
          transform: rotate(-74deg);
  -webkit-clip-path: polygon(27% 19%, 80% 19%, 98% 58%, 75% 96%, 25% 91%, 4% 51%);
          clip-path: polygon(27% 19%, 80% 19%, 98% 58%, 75% 96%, 25% 91%, 4% 51%);
}

.hexagono__4 {
  height: 40px;
  width: 40px;
  bottom: 16%;
  left: 1%;
  -webkit-transform: rotate(74deg);
          transform: rotate(74deg);
  -webkit-clip-path: polygon(20% 20%, 72% 20%, 95% 50%, 80% 88%, 32% 95%, 10% 62%);
          clip-path: polygon(20% 20%, 72% 20%, 95% 50%, 80% 88%, 32% 95%, 10% 62%);
}

@-webkit-keyframes rebota {
  90% {
    height: 100px;
  }
  100% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    height: 80px;
  }
}

@keyframes rebota {
  90% {
    height: 100px;
  }
  100% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    height: 80px;
  }
}
/*# sourceMappingURL=style.css.map */